<nav class="navbar navbar-inverse">
  <article class="navbar-collapse collapse">
    <lu class="nav navbar-nav">
      <li><%=link_to "Inicio", root_path %></li>
      <li><%=link_to "Productos", product_index_path %></li>
      <li><%=link_to "Ventas", sale_index_path %></li>
      <li><%=link_to "Clientes", customer_index_path %></li>
      <li><%=link_to "Proveedores", provider_index_path %></li>
      <li><%=link_to "Contacto", contact_index_path %></li>
    </lu>
  </article>
</nav>